<% provide(:title, 'About') %>
    <h1>About</h1>
    <p>Code for America Austin is building a tool to help Austinites deal with the the real and imminent threat of wildfires. Bringing Homeowners, neighborhoods, and the fire department together with timely notifications, customized tasks, and honorary badges to make fire safety a habit.</p>