<!DOCTYPE html>
<html>
  <head>
    <!-- might need to content_type "multipart/mixed" since delayed job is handling it -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= image_tag attachments['preparedly-red.png'].url -%></p>
    <p><h2>Don't forget your Prepared.ly task:</h2></p>
    <ol>
      <li><p>TASKS AND STUFF GO HERE</li>
    </ol>

  </body>
</html>