<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= image_tag attachments['preparedly-red.png'].url -%></p>
    <p><h2>Don't forget your Prepared.ly task:</h2></p>
    <ol>
      <li><p><%= @message %></li></p>
    </ol>
  <p><a href="<%= @signin %>">Sign in</a> to Prepared.ly to manage your reminders and mark this one as complete</p> 
  </body>
</html>