Welcome to prepared.ly, <%= @user.first_name %>
===============================================
 
Login to the site at <% @url %> to adjust your alert preferences, view weather-based risk, find resources and contact a wildfire specialist.

Tell your neighbors and friends across town about Prepared.ly by sharing this link: <% @referral_url %></li>
        
Visit <% @survey %> to help assess your preparedness and improve our services.  Please email additional feedback and suggestions to info@prepared.ly.  

Thanks for signing up!