<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= image_tag attachments['preparedly-red.png'].url -%></p>
    <h1>Welcome to Prepared.ly!</h1>
    <p><em>Thanks for joining and helping keep your neighborhood safe. Get started by</em></p>
    <ol>
      <li><p>To login to the site and adjust your notification preferences, just follow this link: <%= @url %>. You'll also find fire danger forecasts, tips and tasks.</p></li>
      <li><p>Tell your neighbors and friends across town about Prepared.ly!</p>
        <ul>
          <li>Share on Facebook</li>
          <li>Post on Tumblr</li>
          <li>Tweet!</li>
        </ul>
      </li> 
      <li><p>Help us make Prepared.ly most helpful to you. We've created a short survey <a href="http://prepared.ly/survey">here</a> or you can <a href="mailto:info@prepared.ly">email us</a> any feedback.</p></li>
    </ol>
  </body>
</html>