<-- currently not doing anything -->
<!-- //////////////////// done modal //////////////// -->
<div id="done" class="modal hide fade">
    <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3>You did it!</h3>
    </div>
    <div class="modal-body">
          <p> One small step for your house, one giant step for neighborhoodkind. . .    </p> 
          <p> How'd it go? <a href "">skip this</a></p>
          <ul>
            <li> good</li>
            <li> ok </li>
            <li> terrible </li>
          </ul>
    </div>
<!-- //////////////////// share //////////////// -->
            <div class="btn-group pull-right">
                    <a class="btn-success btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-share icon-white"></i> Share
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <!-- dropdown menu links -->
                      <li>Facebook</li>
                      <li>Twitter </li>
                      <li>Email</li>
                    </ul>
            </div>    
              <%= link_to '<i class="icon-ok icon-white"></i> Give me another!'.html_safe, { :controller => 'completed_tasks', :action => 'completed' }, :class => 'btn-success btn' -%> 
              <%= link_to '<i class="icon-pencil icon-white"></i> Create a new task'.html_safe, new_task_path, :class => 'btn-info btn' %>
    <div class="actions modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
    </div>
</div>