<div id="retask">
    <div class="task-container">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active note">
                <a href="#home" data-toggle="tab">
                YOUR TASK, SHOULD YOU CHOOSE TO ACCEPT:</a>
            </li>
        </ul>
        <div class="main-col taskbox">
            <div class="task">
                <p><%= @random.task %></p>
                <div class="detail-task"><%= @random.detail %>
                </div>
            </div>       
        </div>
        <div class="detail-col triangle-right left lightblue">
            <div class="note">ON THE SCALE, THIS IS
            </div>
            <%= @random.difficulty %>
        </div>    
        <div class="detail-col triangle-right left darkgray">
            <div class="note">WHY IS THIS IMPORTANT?
            </div>
            <%= @random.fact %>
        </div>
    </div>    
</div>

