<p id="notice"><%= notice %></p>
<div class="headerspace">
</div>
<div class="container-fluid span9">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active note">
                <a href="#home" data-toggle="tab">
                YOUR PREPARED.LY TASKS:</a>
            </li>
        </ul>
        <div class="taskbox lightblue">
        	<section>
                <%= render "tasks/tasks" %>
                <%= render "tasks/taskbuttons" %>
            </section>    
        </div>
    </div>
