
<%= form_tag("/map", :method=> "get") do %>
    <%= label_tag(:q, "Welcome. Type in your address and we can get started:") %><br/>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Locate") %>
<% end %>
<p>We aren't going to keep this unless you decide to make an account.</p>
