<%= form_tag("/map", :method=> "get") do %>
<h2> Welcome to Prepared.ly! </h2>

We're excited you've joined! Fire is a real threat and we’re glad you’ve taken the first step to becoming a wildfire-prepared home owner. Prepared.ly's mission is to connect you with your neighbors and local fire fighters, to help everyone work together to create more fire-aware Austin communities. 
Get started with Prepared.ly
</br>
<ol>
<li><strong>Create an account:</strong> Register your house, and make sure to give us a primary method of contact.</li>
<li><strong>Share Prepared.ly with your friends and neighbors.</strong>  We are effective in numbers!</li>
<li><strong>Check back often.</strong> We’ve teamed up with the Austin Fire Department and will be announcing new features soon.</li>
<li><strong>Help Prepared.ly work for you.</strong> Please complete a quick survey here.</li>
</ol>
Welcome to the the good fight!</br>
The Prepared.ly  Team (@ATXPreparedly)
</p>
<% end %>

