<div class="column-wrapper">
    <div class="column-full">
        <h3><a href="/">
        <img src="assets/preparedly-bigblue.png" height="150px" width="300px">
        </a></br>
        Make staying prepared </br>simple and easy</h3>
    </div><!--end column-full-->     
    <div id="space">
    &nbsp;
    </div>
    <div class="column-full">
        <h1>What is it?</h1>
    </div><!--end column-full-->
    <div class="column-full">
       <div class="column">
            <h2>Overview</h2>
            <p>Prepared.ly is a simple way for you to stay informed and proactive about the ongoing threat of wildfires.</p>
            <h2>Notifications</h2>
            <p>Receive non-emergency expert suggestions, National Weather Service fire weather forecasts and alerts, and more.</p>
        </div>
     
        <div class="column">
            <h2>Assessment</h2>
            <p>Visualize your home’s proximity to the Wildland Urban Interface (WUI), understand local conditions and view your estimated realtime risk.
</p>
            <h2>Customized Advice</h2>
            <p>Schedule email and SMS reminders to complete wildfire preparedness tasks, track your progress, submit questions to wildfire experts.</p>
        </div>
    </div><!--end column-full-->    
    <div class="column-full">
        <h1>Features</h1>
    </div> <!--end column-full-->
    <div class="column-full">
        <div class="column">
            <h2>Local Conditions</h2>
            <p>Review realtime conditions and understand how they relate to your area’s wildfire risk.</p>
            <h2>Sharing</h2>
            <p>Organize your neighbors to participate in community clean-up days, share your progress on social media and invite your friends to Prepared.ly.</p>    
            <h2>Community</h2>
            <p>Add comments about prevention tasks, submit questions to the Fire Department and help less tech-savvy neighbors with prevention efforts.</p>
            <h2>Get started!</h2>
            <p>Prepare your home and property with tasks suggested by wildfire prevention experts and suggest new activities.
            </p> 
            <p>Review our terms <a data-toggle="modal" href="#terms">here</a></p>
            <div id="terms" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Terms of Use</h3>
                </div>
                <div class="modal-body">
                    <h4>Prepared.ly is a non-emergency wildfire preparedness tool.</h4><br> 
                    <p style="color: gray">Registration allows you to share prevention strategies with other users, contact wildfire prevention specialists, and receive infrequent <strong>non-emergency</strong> alerts about wildfire prevention in your area. Information entered on this site will be securely stored, and only used for the above purposes and to improve Prepared.ly. Changes to this policy will be posted here. By accessing and using Prepared.ly, you acknowledge and agree to the above and any revisions.</p>
                </div>   
            </div>
        </div>
        <div class="column">
            <h2>Sharing</h2>
            <p>Invite your neighbors and friends to participate in prevention efforts and community cleanup days.</p>
            <h2>On-Site Education</h2>
            <p>Schedule on-site consultations for your home and neighborhood with wildfire prevention experts.</p>
            <h2>Resources</h2>
            <p>Review nationally accepted safety standards including best practices for home &amp; property improvements and becoming a Firewise community.</p>
            <br />    
            <%= link_to 'Get started!', new_user_session_path, :class=> "btn-large btn-info btn" %>
        </div>  
     </div> <!--end column-full-->    
</div> <!--end column wrapper-->
<div id="about-bg">
    </div>
        
<!--    <div id="skyline">
    </div>
    <div id="about-green">
    </div>
    -->