/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { 
	font-family: sans-serif; 
	color: #222; 
	}
body { 
	background:url('bg.gif')repeat-x;
	margin: 0; 
	line-height: 1.6; 
	font-family: "museo-sans", sans-serif;
	color: #666666;
}

h1 {
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
}
h2 {
	font-size: 20px;
	font-style: normal;
	font-weight: 100;
	margin: 0px;
	}
p, label {	
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
}	
label {
	display:none;
	}	
input {
	margin: 10px;
	padding: 5px;
}
.note {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
}
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { 
	color: #339999; 
	text-decoration:none;
	}
a:visited { 
	color: #339999; 
		text-decoration:none;
}
a:hover { color: #CC6633; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }



abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { 
	font-size: 100%;
	margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle; }
button, input { 
	line-height: normal; 
	}
.button {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    margin: 10px 0;
    overflow: hidden;
    padding: 6px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.button a:hover {
    color: #333333;
	}

.button.blue {
	background: -moz-linear-gradient(center top , #99CCCC 0%, #3AAFBF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #339999;

}
.button.orange {
	background: -moz-linear-gradient(
		top,
		#cc6633 0%,
		#fc8346);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#cc6633),
		to(#fc8346));
}
	-webkit-box-shadow:
		0px 1px 2px rgba(77,77,77,0.3),
		inset 0px 0px 3px rgba(122,41,0,1);
	text-shadow:
		0px -1px 0px rgba(255,255,255,0.1),
		0px 1px 0px rgba(125,125,125,1);
}
	
button, input[type="button"], input[type="reset"], input[type="submit"] { 
	cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { 
	cursor: default; }
input[type="checkbox"], input[type="radio"] { 
	box-sizing: border-box; 
	padding: 0; 
	*width: 13px; 
	*height: 13px; }
input[type="search"] { 
	-webkit-appearance: textfield; 
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box; }
input[type="search"]::
	-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::
	-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { 
	overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { 
	background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author:Emily
   ========================================================================== */
/*----navigation bar along top ---*/
.nav-bar {
    background-color: #333333;
    background-position: 0 -138px;
    background-repeat: repeat-x;
    height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-bar-items {
    display: block;
    padding: 10px 30px 0px 0px;
    color: #ffffff;
    list-style: none outside none;
    margin: 0;
}

.nav-bar-items li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	float: right;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
}
.nav-bar-items a{ 
	color: #ffffff; 
	text-decoration:none;
	}
.nav-bar-items a:visited { 
	color: #ffffff; 
		text-decoration:none;
}
.nav-bar-items a:hover { color: #CC6633; }
.nav-bar-items a:focus { outline: thin dotted; }
.nav-bar-items a:hover, a:active { outline: 0; }


#beta {
	background: url('superbeta.png') no-repeat;
    height: 100px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 5;
}

/*----prepared.ly logo ---*/
#logo {
	background: url('preparedly-red.png') no-repeat;
	height:100px;
	width:315px;
	position: relative;
	top: 50px;
	left: 45px;
}
/*----main-container ---*/
#main {
	padding:50px;
	position: relative;
	top: 15px;
}
.address {
	width:300px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
