/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	height:100%;
	}
html, button, input, select, textarea { 
	font-family: sans-serif; 
	color: #222; 
	}
body { 
	background:url('bg.gif')repeat-x;
	margin: 0; 
	/*line-height: 1.6; */
	font-family: "museo-sans", sans-serif;
	color: #666666;
	height:100%;
	line-height:1.7em;
}
.container {
	  *zoom: 1;
    width: auto;
    width: 940px;
}
.center {
    color: white;
    margin-left: 35px;
    text-align: center;
	font-family: "museo-sans", sans-serif;
	font-size: 15px;
}
h1 {
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
}
h2 {
	font-size: 20px;
	font-style: normal;
	font-weight: 100;
	margin: 0px;
	}

h4 {
	font-size: 20px;
	margin:0px;
	font-weight:500;
	color:#3AAFBF;
	text-align:left;
	line-height:23px;
}	
h5 {
	font-size: 15px;
	font-style: normal;
	font-weight: 100;
	margin: 0px;
}	
p, label {	
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
}	
.address label {
	display:none;
	}	
/*input {
	margin: 10px;
	padding: 5px;
}*/
.note {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
}
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { 
	color: #FF9933; 
	text-decoration:none;
	}
a:visited { 
	color: #339999; 
		text-decoration:none;
}
a:hover { color: #CC6633; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

table { 
	border-collapse: collapse; 
	border-spacing: 0;
	width:100%; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

#table-map {
	height:385px;
}
/*----navigation bar along top ---*/
.navbar {
    background-color: #333333;
    background-position: 0 -138px;
    background-repeat: repeat-x;
    height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0px;
}
.input-prepend .add-on, .input-append .add-on, .input-prepend .btn, .input-append .btn {
    border-radius: 0 4px 4px 0;
    height: 23px;
    margin-left: 0;
}
.navbar-items {
    display: block;
    padding: 10px 30px 0px 0px;
    color: #ffffff;
    list-style: none outside none;
    margin: 0;
}
.navbar .nav {
    display: block;
    float: right;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.navbar-items li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	float: right;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
}
/*.navbar-items a{ 
	color: #ffffff; 
	text-decoration:none;
	}
.navbar-items a:visited { 
	color: #ffffff; 
		text-decoration:none;
}*/
.navbar .dropdown-menu:before {
	display:none;
	}

.open .dropdown-menu {
    left: -50px;
}
.navbar .dropdown-menu:after {
	display:none;
	}	
navbar .nav {
    display: block;
    float: right;
    }
.navbar-items a:hover { color: #CC6633; }
.navbar-items a:focus { outline: thin dotted; }
.navbar-items a:hover, a:active { outline: 0; }


#beta {
	background: url('superbeta.png') no-repeat;
    height: 100px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 500000;
}
 .notice, .alert {
 	height: 0px;
 	}
/*-----------------------------prepared.ly logo ---*/
#logo-wrapper {
	height:100px;
	width:200px;
	position: relative;
	top: 75px;
	left: 45px;
	z-index:100;
}
#logo {
	background: url('preparedly-red.png') no-repeat;
	height:112px;
	width:241px;
}
#logo a{
	height:100px;
	width:300px;
}
/*-----------------------------main-container ---*/
#main {
	padding:50px;
	position: relative;
	top: 15px;
	width:90%;
	max-width:65em;
}

/*------------------------------main column / detail column (map and tasks) ---*/

#map-main {
	width:100%;
	position:inherit;
	top:-30px;
}
#map {
	border: #3AAFBF solid thin;
    border-radius: 4px 4px 4px 4px;
	min-width: 325px;
    height: 479px;
    width:60%;
	float:left;
	margin-top: 1px;
}

#map-controls{ 
  float:left;
  width:60%;
  position:relative;
}
.main-col {
	/*border: #3AAFBF solid thin;*/
	min-width: 325px;
    /*height: 479px;*/
    width:60%;
	float:left;
	margin-top: 1px;
}

.feature {
    border-radius: 4px 4px 4px 4px;
	border: #3AAFBF solid thin;
	margin-left: 8px;
    height: 350px;
    padding: 5px;
    width:250px;
	float:left;
	margin-bottom: 8px
	}


.detail-col {
    border-radius: 4px 4px 4px 4px;
	border: #3AAFBF solid thin;
	margin-left: 8px;
    /*height: 460px;*/
    padding: 10px;
    width:275px;
	float:left;
	margin-bottom: 8px
}
.detail-col.no-outline {
	border: none;
	padding: 0px;
}
#map-content-top {
	width:100%;
	height:53px;
}

#address-map {
	margin-right: 10px;
/*    display: block;
    float: right;
    position: relative;
    width: 30%;*/
}
.address {
	width:300px;
}
.condition {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}
.condition-type {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
}
.task, .task-hist, .task-butt {
	padding: 10px;
	margin: 10px;
}
.task p{
	color: #333333;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0px;
}
.task-detail {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2em;
    margin: 0px;
}
.task-hist p{
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}
.taskbox {
    border-radius: 4px 4px 4px 4px;
    background: #CCCCCC;
}
.task-butt a {
	color: #ffffff;
}
.btn-large {
	margin: 5px 2px 5px;
}
/*------------- map: tool tip and risk assessment -------*/
.risk {
	font-size: 25px;
	margin:0px;
	font-weight:500px;
	text-align: left;
}
hr {
    margin-bottom: 7px;
    margin-top: 10px;
	}
.risk-9 {
	color:#FF3366;
	} 
.risk-7, .risk-8 {
	color:#FF6633;
	} 
.risk-5, .risk-6 {
	color:#FF9933;
	} 
.risk-3, .risk-4 {
	color:#FFCC33;
	} 
.risk-1, .risk-2 {
	color:#339933;
	} 
.risk-0 {
	color:#99CCCC;
	}
.risk-title {
	color:#666666;
	width:210px;
	text-align:justify;
	font-size: 15px;
	}	
/*
a.tooltip {outline:none; } 
a.tooltip strong {line-height:30px;} 
a.tooltip:hover {text-decoration:none;} 
a.tooltip span { 
	z-index:10;
	display:none; 
	padding:14px 20px; 
	margin-top:-30px; 
	margin-left:28px; width:240px; 
	line-height:16px; 
	} 
a.tooltip:hover span{ 
	display:inline; 
	position:absolute; 
	color:#333333; 
	border:1px solid #333333; 
	background:#ffffff;
	} 
.callout {
	z-index:20;
	position:absolute;
	top:30px;border:0;
	left:-12px;
	} 
/*CSS3 extras*/ 
/*a.tooltip span { 
	border-radius:4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 5px 5px 8px #CCC; 
	-webkit-box-shadow: 5px 5px 8px #CCC; 
	box-shadow: 5px 5px 8px #CCC; 
	}

/*-------------------------------------------------about-page ---*/

#about-logo {
}

#about-main {
    margin: 100px 40px;
    padding: 0px 50px;
    z-index:10;
    }
#about-wrap {
	background:url('blue-sky.png')repeat-x;	
	height:300px;
}

.column-wrapper {
/*	margin:10px;
	padding:10px;*/
}
.column {
	float:left;
	width:45%;
	position: relative;	
	margin: 0 20px 0 0;
}
#space {
	height:350px;
	width:100%;
	}
.column-wrapper h1{
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	color: #99CCCC;
	text-align:center;
	border-bottom:solid 1px #99CCCC;
	line-height:50px;
}
.column-wrapper h3{
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	color: #339999;
	text-align:center;
    top: -35px;
    position: relative;
    line-height:25px;
}


.column-wrapper p, .column-wrapper h2 {
/*	margin:5px;
	padding:5px;*/
	}
.column-wrapper p{
/*	height: 100px;*/
	color:#ffffff;
}

.column-wrapper h2{
	margin-top: 10px;
	font-weight: 700;
	color:#ffffff;
}
.column-full {
	width:100%;
	float: left;
}
#skyline {	
	background: url('footer.png') no-repeat;
    height: 113px;
    margin: 0 auto;
    padding: 0 10px;
    width: 917px;
    position: relative;
	top: -94px;
	}		
#about-green {
	background: #336633;
	/*height:2550px;*/
	height:1600px;
}
#green {
	background:#336633;
	top:-36px;
	position:relative;
	}

/*-------------------------------------------------reg-two-column-page ---*/
.reg h1{
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	color: #99CCCC;
	text-align:center;
	border-bottom:solid 1px #99CCCC;
	line-height:50px;
}
#nounderline {
	line-height:50px;
	border-bottom:none;
	
}
.reg h3{
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	color: #339999;
	text-align:center;
    top: -35px;
    position: relative;
    line-height:25px;
}


.reg p, .reg h2 {
/*	margin:5px;
	padding:5px;*/
	}
	
.reg p{
/*	height: 140px;*/
	color:#666666;
}

.reg h2{
	font-weight: 700;
	color:#666666;
}

/*------------------------------------------------contact form---*/

#contact-detail {
	width:32%; 
	float: left;
	padding: 17px;
	border: #3AAFBF solid thin;
	height: 650px;
	margin-right: 8px;
}

#feedback {
	background: url('feedback.png') no-repeat;
    height: 100px;
    left: -2px;
    position: absolute;
    width: 100px;
    z-index: 5;

}


/*------------------------------------------------footer stuff---*/
#footer-main {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 50px;
    margin-top: 50px;
    z-index:10; 
    width: auto;
    width: 940px;
    }
.column-3 {
	float:left;
	width:30%;
	position: relative;	
}
.column-3 img {
	padding: 0 70px;
	}

.column-3 p{
	color: #99cccc;
    margin: 38px 0 0 60px;
    }	
#container {
	min-height: 100%;
	}
#main {
	margin-bottom:200px;
	}
#main-wrap {
	overflow:hidden;
	padding-bottom: 180px;
	margin-left: auto;
	margin-right: auto;
	}  
	/* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -220px; /* negative value of footer height */
	height: 113px;
	clear:both;
	} 
#footer p {
	text-align: center;
}
#footer-bottom {
	background: url('footer.png') no-repeat;
    height: 113px;
    margin: 0 auto;
    padding: 0 10px;
    width: 917px;
    position:relative;
    top:-306px;
	}	
#footer-green {
	background: #336633;
	height:326px;
    position: relative;
    top: 114px;
    z-index: -3;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
/*------------popover style ---------------------*/
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  padding: 5px;
}

.popover.top {
  margin-top: -5px;
}

.popover.right {
  margin-left: 5px;
}

.popover.bottom {
  margin-top: 5px;
}

.popover.left {
  margin-left: -5px;
}

.popover.top .arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid  #339933;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.popover.right .arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid  #339933;
  border-bottom: 5px solid transparent;
}

.popover.bottom .arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid  #339933;
  border-left: 5px solid transparent;
}

.popover.left .arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid  #339933;
}

.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.popover-inner {
  width: 280px;
  padding: 3px;
  overflow: hidden;
  background: #339933;
  background: rgba(51, 153, 51, 0.8);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.popover-title {
  display:none;	
  padding: 9px 15px;
  line-height: 1;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

.popover-content {
  padding: 14px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.popover-content p,
.popover-content ul,
.popover-content ol {
  margin-bottom: 0;
}


/*-------------------side bubbles -----------------------*/
.triangle-right.left:after {
    border-width: 15px 17px 15px 0;
    bottom: auto;
    left: -17px;
    top: 11px;
}
.lightblue.triangle-right.left:after {
    border-color: transparent #99CCCC;
}
.darkgray.triangle-right.left:after {
    border-color: transparent #333333;
}
.triangle-right:after {
    border-style: solid;
    border-width: 20px 0 0 20px;
    bottom: -20px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}
.lightblue.triangle-right:after {
	border-color: #99CCCC transparent;
}
.darkgray.triangle-right:after {
    border-color: #333333 transparent;
}
.triangle-right.left {
    margin-left: 20px;
}
.lightblue.triangle-right.left {
	border: #99CCCC transparent;
}
.darkgray.triangle-right.left {
    border: #333333 transparent;
}
.triangle-right {
    background: -moz-linear-gradient(#3AAFBF, #3AAFBF) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    /*margin: 1em 0 3em;*/
    padding: 15px;
    position: relative;
    border: none;

}
.lightblue.triangle-right {
    background: -moz-linear-gradient(#99CCCC, #99CCCC) repeat scroll 0 0 transparent;
    background-color: #99CCCC;
}
.darkgray.triangle-right {
    background: -moz-linear-gradient(#333333, #333333) repeat scroll 0 0 transparent;
    background-color: #333333;
}
.nav-tabs .active a, .nav-tabs .active a:hover {
	text-indent: 6px;
	}

.navbar img{
    margin: 8px;
    padding-left: 40px;
}

/* -------------tabbed box ------------*/
/* --------------note: this is from for Togglable tabs with bootstrap-tab.js, but since it's only one tab it's not using any js----*/
.nav-tabs {
	border: none;
	position: relative;
	top: 19px;
	left:-40px;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: #CCCCCC;
  /*border: 1px solid #3AAFBF;*/
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs li a {
	padding-bottom: 0px;
    padding-right: 15px;
	}