/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	height:100%;
	}
html, button, input, select, textarea { 
	font-family: sans-serif; 
	color: #222; 
	}
body { 
	background:url('bg.gif')repeat-x;
	margin: 0; 
	/*line-height: 1.6; */
	font-family: "museo-sans", sans-serif;
	color: #666666;
	height:100%;
	line-height:1.7em;
}

h1 {
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
}
h2 {
	font-size: 20px;
	font-style: normal;
	font-weight: 100;
	margin: 0px;
	}

h4 {
	font-size: 20px;
	margin:0px;
	font-weight:500;
	color:#3AAFBF;
	text-align:left;
	line-height:26px;
}	
p, label {	
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
}	
.address label {
	display:none;
	}	
input {
	margin: 10px;
	padding: 5px;
}
.note {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
}
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { 
	color: #339999; 
	text-decoration:none;
	}
a:visited { 
	color: #339999; 
		text-decoration:none;
}
a:hover { color: #CC6633; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

.risk {
	font-size: 20px;
	margin:0px;
	font-weight:500px;
	text-align: left;
}
.risk-9 {
	color:#FF3366;
	} 
.risk-7, .risk-8 {
	color:#FF6633;
	} 
.risk-5, .risk-6 {
	color:#FF9933;
	} 
.risk-3, .risk-4 {
	color:#FFCC33;
	} 
.risk-1, .risk-2 {
	color:#339933;
	} 
.risk-0 {
	color:#99CCCC;
	}
.risk-title {
	color:#666666;
	width:210px;
	text-align:justify;
	}	

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { 
	font-size: 100%;
	margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle; }
button, input { 
	line-height: normal; 
	}
.button {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    margin: 10px 0;
    overflow: hidden;
    padding: 6px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.button a:hover {
    color: #333333;
	}

.button.blue {
	background: -moz-linear-gradient(center top , #99CCCC 0%, #3AAFBF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #339999;
    	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#99CCCC),
		to(#339999));
}
.button.big {
	width: 336px;
	padding:10px;
	font-size:20px;
}
.button.orange {
	background: -moz-linear-gradient(
		top,
		#ff9933 0%,
		#fc8346);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff9933),
		to(#fc8346));
}
.button.orange.signup {
	-webkit-box-shadow:
		0px 1px 2px rgba(77,77,77,0.3),
		inset 0px 0px 3px rgba(122,41,0,1);
	text-shadow:
		0px -1px 0px rgba(255,255,255,0.1),
		0px 1px 0px rgba(125,125,125,1);
		}

input[type="submit"]
{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    margin: 10px 0;
    overflow: hidden;
    padding: 6px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    	background: -moz-linear-gradient(
		top,
		#cc6633 0%,
		#fc8346);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#cc6633),
		to(#fc8346));
}

button, input[type="button"], input[type="reset"], input[type="submit"] { 
	cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { 
	cursor: default; }
input[type="checkbox"], input[type="radio"] { 
	box-sizing: border-box; 
	padding: 0; 
	*width: 13px; 
	*height: 13px; }
input[type="search"] { 
	-webkit-appearance: textfield; 
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;
	}
/*	
input[type="search"]::
	-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::
	-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
*/
textarea { 
	overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { 
	background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

#table-map {
	height:385px;
}

/* ===== Primary Styles ========================================================
   Author:Emily
   ========================================================================== */
/*----navigation bar along top ---*/
.nav-bar {
    background-color: #333333;
    background-position: 0 -138px;
    background-repeat: repeat-x;
    height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-bar-items {
    display: block;
    padding: 10px 30px 0px 0px;
    color: #ffffff;
    list-style: none outside none;
    margin: 0;
}

.nav-bar-items li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	float: right;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
}
.nav-bar-items a{ 
	color: #ffffff; 
	text-decoration:none;
	}
.nav-bar-items a:visited { 
	color: #ffffff; 
		text-decoration:none;
}
.nav-bar-items a:hover { color: #CC6633; }
.nav-bar-items a:focus { outline: thin dotted; }
.nav-bar-items a:hover, a:active { outline: 0; }


#beta {
	background: url('superbeta.png') no-repeat;
    height: 100px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 5;
}
 .notice, .alert {
 	height: 0px;
 	}
/*-----------------------------prepared.ly logo ---*/
#logo-wrapper {
	height:100px;
	width:200px;
	position: relative;
	top: 50px;
	left: 45px;
	z-index:100;
}
#logo {
	background: url('preparedly-red.png') no-repeat;
	height:112px;
	width:241px;
}
#logo a{
	height:100px;
	width:300px;
}
/*-----------------------------main-container ---*/
#main {
	padding:50px;
	position: relative;
	top: 15px;
	width:90%;
	max-width:65em;
}

/*---map detail ---*/
#map-main {
	width:100%;
	position:inherit;
	top:-30px;
}
#map {
	border: #3AAFBF solid thin;
	min-width: 325px;
    height: 479px;
    width:60%;
	float:left;
	margin-top: 1px;
}
#map-detail {
	border: #3AAFBF solid thin;
	margin-left: 8px;
    height: 449px;
    padding: 15px;
    width:35%;
	float:left;
}
#map-content-top {
	width:100%;
	height:53px;
}

#address-map {
	margin-right: 10px;
/*    display: block;
    float: right;
    position: relative;
    width: 30%;*/
}
.address {
	width:300px;
}
.condition {
	font-style: normal;
	font-weight: 300;
	text-align: left;
	padding:5px;
	vertical-align:top;
	font-size: 14px;


}
.condition-type {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	text-align: right;
	padding:5px;
	width:180px;
	vertical-align:top;
}

/*-------------------------------------------------about-page ---*/

#about-logo {
}

#about-main {
    margin: 100px 40px;
    padding: 0px 50px;
    z-index:10;
    }
#about-wrap {
	background:url('blue-sky.png')repeat-x;	
	height:300px;
}

.column-wrapper {
/*	margin:10px;
	padding:10px;*/
}
.column {
	float:left;
	width:50%;
	position: relative;	
	padding-bottom:40px;
}
#space {
	height:150px;
	width:100%;
	}
.column-wrapper h1{
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	color: #99CCCC;
	text-align:center;
	border-bottom:solid 1px #99CCCC;
	line-height:50px;
}
.column-wrapper h3{
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	color: #339999;
	text-align:center;
    top: -35px;
    position: relative;
    line-height:25px;
}


.column-wrapper p, .column-wrapper h2 {
	margin:5px;
	padding:5px;
	}
.column-wrapper p{
	height: 100px;
	color:#ffffff;
}

.column-wrapper h2{
	font-weight: 700;
	color:#ffffff;
}
.column-full {
	width:100%;
}
#skyline {	
	background: url('footer.png') no-repeat;
    height: 113px;
    margin: 0 auto;
    padding: 0 10px;
    width: 979px;
    position: relative;
	top: -94px;
	}		
#about-green {
	background: #336633;
	height:1650px;
}
#green {
	background:#336633;
	top:-36px;
	position:relative;
	}

/*-------------------------------------------------reg-two-column-page ---*/
.reg h1{
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	color: #99CCCC;
	text-align:center;
	border-bottom:solid 1px #99CCCC;
	line-height:50px;
}
#nounderline {
	line-height:50px;
	border-bottom:none;
	
}
.reg h3{
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	color: #339999;
	text-align:center;
    top: -35px;
    position: relative;
    line-height:25px;
}


.reg p, .reg h2 {
	margin:5px;
	padding:5px;
	}
	
.reg p{
	height: 140px;
	color:#666666;
}

.reg h2{
	font-weight: 700;
	color:#666666;
}

/*------------------------------------------------contact form---*/

#contact-detail {
	width:32%; 
	float: left;
	padding: 17px;
	border: #3AAFBF solid thin;
	height: 650px;
	margin-right: 8px;
}

#feedback {
	background: url('feedback.png') no-repeat;
    height: 100px;
    left: -2px;
    position: absolute;
    width: 100px;
    z-index: 5;

}

/*------------------------------------------------footer stuff---*/
#footer-main {
    margin: 100px 40px;
    padding: 40px 50px;
    z-index:10;
    }
.column-3 {
	float:left;
	width:30%;
	position: relative;	
	padding-bottom:40px;
}
.column-3 img {
	padding: 0 70px;
	}
	
.column-3 p{
	color: #99cccc;
    margin: 38px 0 0 60px;
    }	
#wrap {min-height: 100%;}

#main-wrap {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -220px; /* negative value of footer height */
	height: 113px;
	clear:both;
	} 

#footer-bottom {
	background: url('footer.png') no-repeat;
    height: 113px;
    margin: 0 auto;
    padding: 0 10px;
    width: 979px;
    position:relative;
    top:-306px;
	}	
#footer-green {
	background: #336633;
	height:326px;
    position: relative;
    top: 114px;
    z-index: -3;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
