<p>Welcome<%= @resource.email %>!</p>

<p>Please confirm your account email by clicking on the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
